<div class='mt-4'>
    <h2 class='mt-4'>Sửa khóa học</h2>
    <form method='POST' action='/course/{{course._id}}?_method=PUT'>
        <div class='mb-3'>
            <label for='name' class='form-label'>tên khóa học</label>
            <input
                type='text'
                class='form-control'
                value='{{course.name}} '
                id='name'
                name='name'
            />
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>mô tả khóa học</label>
            <textarea
                class='form-control'
                name='description'
                id='description'
            >{{course.description}}</textarea>
        </div>
        <div class='mb-3'>
            <label for='videoId' class='form-label'>videoId</label>
            <input
                type='text'
                class='form-control'
                value='{{course.videoId}}'
                id='videoId'
                name='videoId'
            />
        </div>
        <button type='submit' class='btn btn-primary'>lưu lại</button>
    </form>
</div>